:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e0e0e0;
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #8f9bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #b4bfff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: #141414;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #f5f5f5;
}

button {
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 1em 2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(2px);
  box-shadow: none;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

button:focus {
  outline: none;
}

button:active {
  transform: translateY(3px);
  box-shadow:
    -3px -3px 10px rgba(255, 0, 0, 0.3),
    3px 3px 10px rgba(255, 0, 0, 0.3);
}
